POSTGRES_USER=postgres
POSTGRES_PASSWORD=pg_pwd123
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=adminpassword123
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com

AIRFLOW_UID=50000

AIRFLOW_API_JWT_SECRET=
AIRFLOW__CORE__FERNET_KEY=

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=postgres
TEST_DB_USER=postgres
TEST_DB_PASSWORD=test_pwd123

DBT_HOST_PATH=${PWD}/banking-fraud-dwh/dbt