
x-airflow-common: &airflow-common
  build: .
  env_file:
    - .env
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/plugins:/opt/airflow/plugins
    - ./dbt:/opt/dbt
  depends_on:
    - airflow_postgres
    - redis

services:

  airflow_postgres:
    image: postgres:16
    container_name: metadata-postgres
    env_file: [.env]
    environment:
      POSTGRES_USER: ${AIRFLOW_POSTGRES_USER}
      POSTGRES_PASSWORD: ${AIRFLOW_POSTGRES_PASSWORD}
      POSTGRES_DB: ${AIRFLOW_POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - airflow_pg_data:/var/lib/postgresql/data

  dwh_postgres:
    image: postgres:16
    container_name: dwh-postgres
    env_file: [.env]
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - dwh_pg_data:/var/lib/postgresql/data    

  redis:
    image: redis:7
    container_name: airflow-redis
    ports:
      - "6379:6379"

  airflow-apiserver:
    <<: *airflow-common
    container_name: airflow-apiserver
    command: api-server
    ports:
      - "8080:8080"

  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow-scheduler
    command: scheduler

  airflow-worker:
    <<: *airflow-common
    container_name: airflow-worker
    command: celery worker

  airflow-triggerer:
    <<: *airflow-common
    container_name: airflow-triggerer
    command: triggerer

  airflow-init:
    <<: *airflow-common
    container_name: airflow-init
    command: db migrate
    restart: "no"

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.7.5
    container_name: dbt
    volumes:
      - ./dbt:/usr/app
    working_dir: /usr/app
    depends_on:
      - dwh_postgres

volumes:
  airflow_pg_data:
  dwh_pg_data: